
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>HELLO PEOPLE, MY NAME IS MUSICO!</h4>
        <h1>アニメのOPとEDをあつめるところ</h1>
        <h4>とりあえずつくってみた</h4>
      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/headerwrap -->

<section id="works"></section>
<div class="container">
  <div class="row centered mt mb">
    <h1>Hot Anime Titles</h1>
    <!-- TODO 新着を出す -->
    <%= render partial: 'anime_titles/highlight', locals: { anime_titles: @anime_titles } %>
  </div><! --/row -->
</div><! --/container -->


