
<div id="animetitlewrap" style="background-image: url(/assets/back.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>アニメタイトル一覧</h1>
      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/headerwrap -->

<section id="works"></section>
<div class="container">
  <div class="row centered mt mb">
    <h1>タイトル一覧</h1>
    <%= render partial: 'anime_titles/highlight', locals: { anime_titles: @anime_titles } %>
  </div><! --/row -->
</div><! --/container -->

<br>
<p>
  <strong>新しくアニメタイトルを追加する</strong><br>
  <%= link_to('タイトルの追加', {action: :new}, :class => 'btn btn-primary btn-sm' ) %>
</p>
