<div id="animedetailwrap" style="background-image: url(/assets/back.jpg);">
</div><! --/headerwrap -->

<h1>New Anime Detail</h1>

<%= render 'form' %>

<%= link_to 'Back', controller: :anime_titles, action: :show, id: @anime_title.id %>
