
<!--crop image into square いまはつかってません -->
<!-- render partial: 'images/thumbnail', locals: { src: 'http://example.com/foo.jpg', width: 100, height: 100, class: 'foo bar' } -->

<div class="thumbsquare">
  <%= image_tag anime_titles.first.icon_url %>
</div>
