
<div id="footerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-4">
        <p><b>MUSICO</b></p>
      </div>
      <div class="col-lg-4">
        <p>『MUSICO』（ミュージコ）は、アニメと音楽を結びつけるメディアです。<br>アニメに使われた主題歌をまとめています。</p>
      </div>
      <div class="col-lg-4">
        <address style="color:#ffffff">(C)<%= Time.now.year %> K created.</address>
      </div>
    </div>
  </div>
</div><! --/footerwrap -->