
<div id="footerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-4">
        <p><b>ここはフッタです</b></p>
      </div>
      <div class="col-lg-4">
        <p>いろいろかけるよ</p>
      </div>
      <div class="col-lg-4">
        <address style="color:#ffffff">(C)<%= Time.now.year %> KT all rights reserved.</address>
      </div>
    </div>
  </div>
</div><! --/footerwrap -->